.sosmed{
	border: 2px solid #fff;
	/*background-color: #fff;*/
	border-radius: 20px;
	color: #fff;
	padding: 6px 12px;
	text-decoration: none;
	margin: 10px 10px;
	cursor: pointer;
}

.ukuran{
	width: 360.3px !important;
	height: 239.817px !important;
}

.p{
	margin: 0;
	padding: 0;
	color: #000 !important;
	font-size: 18px;
    font-weight: 600;
}

.unduh{
	background-color:  #30c39e;
	border: none;
	color: #fff;
	padding: 16px 32px;
	text-decoration: none;
	margin: 2px 2px;
	cursor: pointer;	
}

.sejarah{
	border: 2px solid #fff;
	/*background-color: #fff;*/
	border-radius: 20px;
	color: #fff;
	padding: 16px 100px;
	text-decoration: none;
	margin: 10px 10px;
	cursor: pointer;
}

.sejarah:hover{
	background-color: #ff3f4d;
	border-radius: 20px;
	color: #fff;
	padding: 16px 100px;
	text-decoration: none;
	margin-top: 10px;
	cursor: pointer;
}

input{
	width: 100%;
	padding: 8px 15px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type=text]{
	border: 2px solid #30c39e;
	border-radius: 4px;
}

input[type=text]:focus{
	border: 3px solid #30c39e;
}

input[type=file]{
	border: 2px solid #30c39e;
	color: #000;
	padding: 8px 15px;
	text-decoration: none;
	margin: 4px 0px;
	cursor: pointer;
}

input[type=button], input[type=submit], input[type=reset]{	
	background-color:  #30c39e;
	border: none;
	color: #fff;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

textarea{
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #30c39e;	
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}